.cms-no-route{
    padding: 0;
    background: linear-gradient( 0deg, rgb(213,182,143) 0%, rgb(233,222,205) 100%);
    .page-main {
        max-width: 660px;
        padding:50px;
        width: 98%;
        margin: 100px auto !important;
        background-color: #f6f3f1;
        border-radius: 40px 0px 40px 40px;
        position: relative;
        &::before{
            position: absolute;
            right: 20px;
            top:40px;
            content: "";
            width: 100px;
            height: 100px;
            background: url('../images/error.svg');
            background-size: cover;
        }
        .main{
            ul{
                padding: 10px 0 10px 30px;
                li{
                    a{
                        color: #1c6441;   
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}