.customer-address-index,
.sales-order-history,
.customer-account-edit,
.vault-cards-listaction,
.review-customer-index,
.newsletter-manage-index,
.sales-order-view,
.customer-address-form,
.customer-account-index{
    padding: 0;
    background: linear-gradient( 0deg, rgb(213,182,143) 0%, rgb(233,222,205) 100%);
    .page-wrapper{
        .columns{
            @extend .row; 
            display: flex;
            flex-wrap: wrap;
            position: relative;
            max-width: 1460px;
            margin:0 auto;
            .column{
                @extend .col-lg-10;
                order: 2; 
                background-color: #f6f3f1;
                padding: 25px 70px;
                position: relative;
                min-height: 800px;
                .page-title{
                    font-size: 38px;
                    font-weight: 500;
                }
                .block-dashboard-addresses,
                .block-dashboard-info{
                    padding: 0;
                    .block-title{
                        color: #CFA773;
                        font-size: 20px;
                        font-weight: 300!important;
                        margin:25px 0;
                        border-bottom: 1px solid #aaa;
                        display: block;
                        strong{
                            font-weight: 300!important; 
                            padding: 15px 0;
                        }
                        .action{
                            span{
                                font-size: 14px;
                                color: #165898;
                                text-decoration: underline;
                                position: relative;
                                top: -3px;
                                left: 5px;
                            }
                        }
                    }
                   
                    .block-content{
                        @extend .row;
                        .box-newsletter,
                        .box-billing-address,
                        .box-shipping-address,
                        .box-information{
                            @extend .col-lg-6;
                            .box-title{
                                margin-bottom: 10px;
                            }
                            .action{
                                span{
                                    font-size: 14px;
                                    color: #165898;
                                    text-decoration: underline;
                                    position: relative;
                                    margin-right: 5px;
                                }
                                font-size: 14px;
                                color: #165898;
                                text-decoration: underline;
                                position: relative; 
                            }
                        }
                    }
                }
                .block-dashboard-addresses{
                    .block-title{
                        color: #CFA773;
                        font-size: 20px;
                        font-weight: 300!important;
                        margin:25px 0;
                        border-bottom: 1px solid #aaa;
                        display: block;
                        strong{
                            font-weight: 300!important; 
                            padding: 15px 0;
                        }
                        .action{
                            span{
                                font-size: 14px;
                                color: #165898;
                                text-decoration: underline;
                                position: relative;
                                top: -3px;
                                left: 5px;
                            }
                        }
                    }
                    .block-content{
                        @extend .row;
                        .box-billing-address{
                            @extend .col-lg-6;
                        }
                    }  
                }
                .block-dashboard-orders{
                    .block-title{
                        color: #CFA773;
                        font-size: 20px;
                        font-weight: 300!important;
                        margin:25px 0;
                        border-bottom: 1px solid #aaa;
                        display: block;
                        strong{
                            font-weight: 300!important; 
                            padding: 15px 0;
                        }
                        .action{
                            span{
                                font-size: 14px;
                                color: #165898;
                                text-decoration: underline;
                                position: relative;
                                top: -3px;
                                left: 5px;
                            }
                        }
                    } 
                }
            }
        } 
        .sidebar{
            order: 1;
            background-color: #EADFCF;
            @extend .col-lg-2; 
            .block-collapsible-nav-title{
                display: none;
            }
            .items{
                display: block;
                .item{ 
                    background-color: #EADFCF;
                    width: 100%;
                    margin: 8px 0;
                    font-weight: 600;
                    font-size: 14px;
                    border-left:2px solid transparent;
                    cursor: pointer;
                    &:first-child{
                        margin-top: 50px;
                    }
                    a{
                        padding: 10px 20px;
                        font-weight: 300;
                        &:hover{
                            color: #cfa773;
                        } 
                    }
                    strong{
                        padding: 10px 20px;
                        font-weight: 600; 
                        color: #cfa773;
                    }
                    &.current{
                        font-weight: 600;
                        color: #cfa773;
                    }
                    .delimiter{
                        width: 100%;
                        height: 1px; 
                        display: block; 
                        background: transparent; 
                    }
                }
            }
        }
        #additional-addresses-table,
        #my-orders-table{
            width: 100%;
            thead{ 
                tr{
                    padding: 5px 12px !important;
                    vertical-align: middle;
                    font-size: 14px;
                    border:none;
                    background: transparent;
                    th{
                        border:none;
                        background: transparent;
                    }
                    .col{
                        max-width: 15%!important;
                    }
                }
            }
            tbody{
                tr{
                    line-height: 1.3;
                    height: 45px;
                    &:nth-child(odd){
                        background-color: $primary_bg_color;
                    } 
                    td{
                        padding: 5px 15px !important;
                        vertical-align: middle;
                        font-size: 14px;
                        border:none;
                        &:first-child{
                            font-weight: 600;
                        } 
                    }
                    .col{
                        max-width: 15%;
                    }
                }
            } 
            .table-caption{
                display: none;
            }
        }
        #additional-addresses-table{
            thead{ 
                tr{
                    padding: 5px 12px !important;
                    vertical-align: middle;
                    font-size: 14px;
                    border:none;
                    background: transparent;
                    th{
                        border:none;
                        background: transparent;
                    }
                    .col{
                        max-width: 11%!important;
                    }
                }
            }
        }

        .action,
        .actions{
            .view{ 
                margin-right: 5px;
                background: #dac09f;
                padding: 3px 5px;
                span{
                    color:#fff;
                }
                &:hover{
                    span{
                        text-decoration: underline;
                    }
                }
            }
            .order{
                background: #1c6441;
                padding: 3px 5px;
                font-size: 14px;
                span{
                    color: #fff;
                }
                &:hover{
                    span{
                        text-decoration: underline;
                    }
                }
            }
            &.back{
                padding-left: 30px;
                position: relative;
                margin:15px 0;
                span{
                    &:before{
                        content: "";
                        background-image: url('../images/icons/arrow-left.png');
                        height: 15px;
                        width: 15px;
                        position: absolute;
                        left: 5px;
                        top: 3px;           
                    }
                }  
                &:hover{
                    span{
                        text-decoration: underline;
                    }
                } 
            } 
        }

        .block-addresses-default{
            float: left;
            width:100%;
            margin-bottom: 15px;
            .block-title{
                padding: 15px 0;
                color: #cfa875;
                font-weight: 300;
                padding: 15px 0;
            }
            .box-address-shipping,
            .box-address-billing{
                width: 25%;
                float: left;
                padding: 15px;
                margin: 15px 0;
                border: 1px solid #cfa875;
                .box-title{
                    font-weight:400;
                    margin-bottom: 10px;
                }
                a{
                    span{
                        font-size: 14px;
                        color: #165898;
                        text-decoration: underline;
                        position: relative;
                        margin-right: 5px;
                    }
                }
            }
            .box-address-shipping{
                margin-left: 15px;
            }
        }
    }  
}
