.checkout-index-index{
    background: linear-gradient( 0deg, rgb(213,182,143) 0%, rgb(233,222,205) 100%);
    .loading-mask{
        position: fixed;
        widows: 100%;
        height: 100%;
        left: 0;
        right: 0;
        top:0;
        z-index: 300000;
        .loader{
            padding: 100px;
        }
    } 
    .page-main{
        margin: 100px auto 0px !important;
        padding: 25px;
        background-color: #f6f3f1;
        min-height: 700px;
    }
    .opc-summary-wrapper{
        position: relative;
        width: 40%;
        display: inline-block; 
        .title{
            strong{
                font-weight: 300;
            }
        }

        .table-totals{
            tbody{
                tr{
                    th{
                        padding-left: 0px;
                        font-weight: 300;
                    }
                    &.excl{
                        border-top:1px solid #eadfcf;
                        border-bottom: 1px solid #eadfcf;
                    }
                }
            }
        }
        .items-in-cart {
            margin-bottom: 25px;
            .title{
                font-weight: bold;
                padding-bottom: 0px!important;
                margin-bottom: 0px!important;
            }
            background: #e9e4e1;
            padding: 10px;
            .minicart-items{
                .product-item{
                    border-bottom: 1px solid #DBD9D8; 
                    margin:2px 0;
                    max-width: 100%!important;
                    background: #fff;
                    &:first-child{
                        border-top: 1px solid #DBD9D8;  
                    }
                }
                .product-image-container{
                    display: inline-block;
                }
                .product-item-details{
                    display: inline-block;
                    padding-left: 10px;
                    .options{
                        display: none;
                    }
                    .price{
                        top: 3px!important;
                    }
                }
            }
        }

        .shipping-information{
            padding: 10px;
            background: #e9e4e1;
            .shipping-information-title{
                margin-bottom: 10px;
                font-size: 14px;
                border-bottom: 1px solid #DBD9D8; 
                padding-bottom: 5px;
                .action{
                    font-size: 12px;  
                }
            }
            .shipping-information-content{
                font-size: 12px;
                font-size: 12px;
                color: #7b7b7b;
            }
        }
        // .minicart-items{
        //     min-height: auto!important;
        //     width: 100%;
        //     .product-item{
        //         min-width: 100%;
        //         border:none;
        //         min-width: 100%;
        //         background: #e9dfda;
        //         font-size: 12px;
        //         &:last-child{
        //             min-width: 100%;
        //             border:none;
        //             min-width: 100%; 
        //         }
        //         .product-item-details{
        //             .product-item-name-block{
        //                 .product-item-name{
        //                     font-size: 14px;
        //                     margin-bottom: 5px;
        //                 }
        //             }
        //             .details-qty{
        //                 font-size: 12px;
        //                 font-weight: bold;
        //                 color: #cbac86;
        //             }
        //             .toggle{
        //                 span{
        //                     color: #104c78;
        //                     text-transform: uppercase;
        //                     text-decoration: underline;
        //                     font-size: 12px;
        //                 }
        //             }
        //         }
        //     }
        // }
    }
    .page-title{
        position: absolute;
        top: -85px; 
        left: 0;
        span{
            font-size: 38px;
            font-weight: 500;
            position: relative;
            &::after{
                content: "";
                position: absolute;
                left: -30px;
                top: 16px;
                width: 30px;
                height: 30px;
                background: url("../images/icons/arrow-left.png")no-repeat;
            }
        }
    }
    .agreements-modal{
        display: none;
    }
    .opc-progress-bar{
        margin-bottom: 25px;
        li{
            position: relative; 
            &:nth-child(1){
                &:before{
                    position: absolute;
                    border-radius: 100px;
                    content: "1";
                    left: 0;
                    top: 1px;
                    background: #dac09f;
                    text-align: center;
                    color: #f6f3f1;
                    font-size: 12px;
                    padding: 5px 10px;
                  }
                  span{
                      padding-left: 35px; 
                      margin-right: 30px; 
                  }
                  &.active{
                    &:before{
                        background: #1c6441;
                    } 
                  }
            }

            &:nth-child(2){
                min-width: 300px; 
                &:before{
                    position: absolute;
                    border-radius: 100px;
                    content: "2";
                    left: 0;
                    top: 1px;
                    background: #dac09f;
                    text-align: center;
                    color: #f6f3f1;
                    font-size: 12px;
                    padding: 5px 10px;
                  }
                  span{
                      padding-left: 35px; 
                      margin-right: 30px; 
                  }
                  &.active{
                    &:before{
                        background: #1c6441;
                    } 
                  }
            }
            &:after{
                display: none;
            }
            span{
                font-size: 14px;  
            }
        }
    }

    .opc-wrapper{
        float: left;
        width: 57%;
        display: inline-block;
        padding-right: 50px;
    }
    .estimated-block{
        .estimated-label{
            margin-right: 5px;
            font-size: 14px;
        } 
    }

    .payment-method-title{
        display: none;
    }

    
    .billing-address-same-as-shipping-block {
        label{
            font-size: 14px;
        }
        fieldset{
            padding: 25px 0;
            .select{
                width: 100%;
            }
            .field-select-billing{
                .label{ 
                    font-size: 12px;
                    margin: 10px 0;
                }
            }
            .actions-toolbar{
                .action{
                    padding: 5px 25px;
                }
            }
        }
    }

    form{
        &.payments{
            .fieldset{
                .legend{
                    display: none;
                }
            }
            
            .payment-method-billing-address{
                max-width: 100%;
                .billing-address-same-as-shipping-block{
                    label{
                        font-size: 12px;
                    } 
                }
                .fieldset{ 
                    padding: 15px; 
                    background: #dadada;
                    margin: 20px 0;
                    .label{
                        padding-bottom: 10px;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    .actions-toolbar{
                        .action{
                            padding: 5px 20px;
                        }
                    }
                }
            }
            .billing-address-details{
                border: 1px solid #EADFCF!important;
                background-color: #EFE9E6;
            }

            .billing-address-details{
                font-size: 12px;
                margin-bottom: 25px;
            }

            .payment-method-content{
                padding-bottom: 15px;
                border-bottom: 1px solid #EADFCF;
            }

            .payment-option-title{
                padding: 15px 0; 
                background: #e9e4e1;
                padding: 10px!important;
                position: relative;
                cursor: pointer;
                margin-top: 20px;
                &::after {
                    content: '';
                    background-image: url("../images/icons/drop-down-arrow.svg");
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background-position: center;
                    background-size: cover;
                    top: 15px;
                    right: 15px;
                    transition: 300ms;
                    transform: rotate(0);
                }
                span{
                    text-decoration: none!important;
                    color: #000!important;
                }
            }
            .form-store-credit{
                .actions-toolbar{
                    label{
                        position: relative;
                        top:30px;
                    }
                }
            }
            .actions-toolbar{ 
                .primary{ 
                    text-align: left;
                }
                .store-credit{
                    margin: 15px 0;
                    padding-bottom: 5px; 
                    border-bottom: 1px solid #eadfcf;
                    padding-bottom: 10px;
                    .action{
                        @extend .btn;
                        @extend .btn-gold;
                    }
                    .actions-toolbar{
                        position: relative;
                        label{
                            padding-right: 10px; 
                            font-weight: 600; 
                            position: absolute; 
                            top: 10px; 
                            right: 0;
                        }
                    }
                    #store-credit-form{
                        border-top: 1px solid #EADFCF;
                        padding: 15px 0;
                        text-align: left;
                        label{
                            padding: 10px 0;
                            position: relative;
                            top: 30px;      
                            span{
                                padding-left: 10px;
                            }
                        }  
                    }
                }
            }
        }
    }

    .shipping-address-items{
        .shipping-address-item{
            border: 1px solid #EADFCF;
            margin: 15px 0;
            font-size: 12px;
            max-width: 100%;
            &.selected-item{
                border: 1px solid #EADFCF;
            }
            &.not-selected-item{
                border: 1px solid #eae7e7;
                background: #f0f0f0;
            }

            .action-select-shipping-item{
                padding: 5px 5px;
                font-size: 12px;
                background: transparent;
                border-radius: 4px;
                color: #104c78;
                font-weight: 300;
                height: 26px;
                text-decoration: underline;
                margin-top: 0;
                &:hover{
                    color: #104c78;
                    text-decoration: underline;
                }
            }
        }
    }

    #checkout-shipping-method-load{
        .table-checkout-shipping-method{
            width: 100%;
            thead{
                tr{
                    th{
                        font-weight: 300;
                        font-size: 12px;
                        padding: 10px;
                    }
                }
            }
            tbody{
                tr{
                    padding: 10px 0;
                    border-bottom: 1px solid #eae7e7;;
                    border-top: 1px solid #eae7e7;;
                    td{
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .action-show-popup{
        color: #104c78;
        height: auto;
        text-decoration: underline;
        text-align: left;
        padding: 0;
        background: transparent;
        display: none;
    }

    #checkoutSteps{
        li{
            list-style: none;
        }
        .step-title{
            font-size: 16px; 
            padding:0px 0 15px 0; 
            font-weight: 600;
        }
        &#opc-shipping_method{
            margin-top: 50px;
        }
    }


    //Loader
    .loader{
        padding: 50px;
    }

    .discount-code{
        display: none;
    }
}

.shopping-cart-table{
    tbody{
        tr{
            &:nth-child(2n){
                background: #f2edea;
            }
            .item{
                .product-item-name{
                    float: none;
                }
                .item-options{
                    display: block;
                    padding: 15px 0;
                    position: relative;
                    top:10px;
                    dt,dd{
                        display: inline-block!important;
                    }
                }
            }
        }
    }
}
.multishipping-checkout-success,
.checkout-onepage-success{
    background: linear-gradient( 0deg, rgb(213,182,143) 0%, rgb(233,222,205) 100%);
    .page-main{
        max-width: 750px;
        margin:0 auto;
        padding: 50px;
        background-color: $body_background_color;
        min-height: 660px;
        .page-title-wrapper{
            .page-title{
                span{
                    font-size: 32px;
                    font-weight: 500;
                }
            }
            .print{
                display: none;
            }
            .checkout-success{
                font-size: 14px;
                color: #5c5b5a;
                .order-number{
                    text-decoration: underline;
                    strong{
                        font-size: 18px;
                    }
                }
                .actions-toolbar{
                    margin:10px 0;
                    a{
                        color: #cfa874;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}