@mixin circle-icon-box($bg_color){
    display: inline-block;
    background-color: $bg_color;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    svg{
        width: 13px;
        height: 13px;
        }
}
@mixin flex-row($justify, $align) {
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}
@mixin flex-column($justify, $align) {
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}
@mixin round-horizontal-box($bg_color){
    background-color: $bg_color;
    border-radius: 25px;
    @include flex-row(space-between, center);
}
@mixin opacity-color{
    color: #000;
    opacity: .5;
    font-weight: 600;
}
$body_background_color:#f6f3f1;
$primary_text_color: #CFA773;
$secondary_text_color: #ddc8a9;
$primary_bg_color: #EFE9E6;
$secondary_bg_color: #EADFCF;
$third_bg_color:#efeae6;
$green:#1C6441;
$lightgreen:#266e4b;
$darkgreen:#165737;
$red: #e53737;
$gray: #929292;
$opacity-color:#a09792;
$f-15: 0.9375rem;
$f-13: 0.8125rem;
$f-12: 0.75rem;
$f-16: 1rem;
$f-18: 1.125rem;
*{
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.3;
    outline:0;
}
button{
    outline:0;
}
p, ul, ol, h3, .row, label{
    padding: 0;
    margin: 0;
}
.block-static-block,
.wrapper{
    padding: 0 10px;
    max-width: 1460px;
    width: 100%;
    margin: auto!important;
}
body{
    background-color: $body_background_color;
    padding: 0;
    margin:0;
    -ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

h1{
    font-size: 58px;
    font-weight: 700;
}
h2{
    font-size:$f-18;
    font-weight: 600;
    padding-bottom: 30px;
}
h3{
    font-size: 38px;
    font-weight: 500;
}
a{
    color: #000;
    &:hover{
        color: #000;
        text-decoration: none;
    }
}
.btn{
    display: inline-block;
    text-transform: uppercase;
    padding: 10px 40px;
    border:none;
    border-radius: 25px;
    font-weight: 600;
    color: $primary_text_color;
    font-size: $f-12;
    &:hover{
        color: $primary_text_color;
    }
}
.cirlce-btn{
    border-radius: 50%;
}
.btn-rectangle{
    border-radius: 0;
}
.btn-green{
    background-color: $green;
    border:1px solid transparent;
    &:hover{
        background: transparent;
        color: $green;
        border: 1px solid $green;
    }
}
.btn-remove{
    display: block;
    border: none;
    background-color: #fff;
    background-image: url('../images/icons/cross.svg');
    background-position: center;
    border-radius: 50%;
    background-size: 8px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.btn-bin{
    padding: 0;
    background:none;
    border: none;
}
.btn-gold{
    color: $primary_text_color;
    background-color: $primary_bg_color;
    border:1px solid transparent;
    &:hover{
        background: transparent;
        color: $primary_text_color;
        border: 1px solid $primary_text_color;
    }
}

section{
    padding: 50px 0;
}

.center-mode-slider{
    .slick-slide{
        transition: 300ms;
        &:not(.slick-center){
            opacity: .5;
            transform: scale(.8);
        }
        &.slick-center{
            text-align: center;
            position: relative;
            z-index: 9;
        }
    }
}
.right-full{
    position: relative;
    &::after{
        content: "";
        width:  calc((100vw - 100% - 18px) / 2);
        height: calc(100% - 40px);
        background-color: $body_background_color;
        position: absolute;
        left:100%;
        top: 40px;
    }
}


.slick-arrow{
    position: absolute;
    top: 40%;
    border: none;
    font-size: 0;
    display: block;
    background:none;
    background: url(../images/icons/angle-down.svg);  
    background-position: center;
    background-size: 15px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.slick-prev{
    left: 0;
    transform: rotate(90deg);
}
.slick-next{
    right:0;
    transform: rotate(-90deg);
}


/*REMOVE ME*/
 
.popup-authentication{
    display: none;
}

.pager{
    display: none;
}

.page{
    .column{
        border:solid red!important;
    }
}

.messages{ 
    position: relative; 
    font-size: 14px;
    text-align: center;
    max-width: 1460px;
    margin: 5px auto;
    .message-error{
        padding: 10px;
        background: #ce6f6f; 
        color: #fff; 
    }
    .message-success{
        padding: 10px;
        background: #598756;
        margin: 10px auto; 
        color: #fff;
        font-weight: 500; 
        width: auto; 
        a{
            text-decoration: underline;
            color: #fff;
        }
    }
}
.page-wrapper{
    padding-top: 100px;
}
@media (max-width:991px){
    .block-static-block,
    .wrapper{
        padding: 0;
    }
    .page-wrapper{
        padding-top: 175px;
    }
}