input[type="text"], input[type="password"], input[type="email"], textarea{
    border: none;
    width: 100%;
    padding: 7px 15px;
    font-weight: 600;
    font-size: $f-12;
}
input[type='number']{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
select{
    padding: 6px 35px 6px 20px;
    background-color: $primary_bg_color;
    border-radius: 25px;
    border: none;
    appearance: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    background-image: url('../images/icons/drop-down-arrow.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: center right 13px;
}

.store-list{
    max-width: 500px;
    margin: auto;
    label{
        @include round-horizontal-box($body_background_color);
     
        background-image: url('../images/icons/home.png');
        background-repeat: no-repeat;
        background-position: center left 20px;
        select{
            margin-left: 20px;
            color: $opacity-color;
            option{
                color: $opacity-color;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
.product-item-actions{
    height: 100%; 
    @include flex-row(center,center);
    position: relative;
    top: 16px;
    .control{
        display: flex;
        .decreaseQty{
            order: 1;
        }
        .increaseQty{
            order: 3;
        }
        .input-text{
            order: 2;
            -webkit-appearance: none;
            -moz-appearance: textfield;
            appearance: none;
            width: 40%;
            height:40px;
            text-align: center;
            border: 1px solid $third_bg_color;
            float: left;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button
        {
            -webkit-appearance: none;
            margin: 0;
            
        }
    }
    .field{
        width: 100%!important; 
        float: left;
        .control{
            width: 100%;
            #qty{
                float: left;
                height: 40px;
                width: 45%;
                text-align: center;
            } 
        }
    }
    button{
        @include flex-row(center,center);
        color: $primary_text_color;
        background-color: $third_bg_color;
        font-weight: 700;
        width: 20%;
        height: 40px;
        font-size: $f-18;
        cursor: pointer;
        user-select: none;
        display: inline-block;
        float: left;
        border: none;
    }
    &.out-of-stock::after{
        content:"Not enough in stock";
        color: $red;
        position: absolute;
        right: -10px;
        width: 40px;
        font-size: 10px;
        line-height: 1;
        font-weight: 600;
    }
}

.sort-by-select{
    span{
        color:$opacity-color;
        font-weight: 600;
    }
    select{
        margin-left: 20px;
        background-color: $primary_bg_color;
        font-weight: 600;
        appearance: none;
        padding: 10px 90px 10px 20px;
        border:none;
        cursor: pointer;
        background: url('../images/icons/angle-down.svg');  
        background-position: center right 10px;
        background-size: 12px 12px;
        background-repeat: no-repeat;
    }
}
.field.choice{
    position: relative;
    padding-left: 30px;
    display: flex;
    align-items: center;
    input[type="checkbox"]{
        opacity: 0;
        left: 0;
        height: 17px;
        width: 17px;
        position: absolute;
        cursor: pointer;
        &:checked + label::after{
            content: url('../images/icons/check.svg');
            height: 10px;
            width: 10px;
            display: inline-block;
            position: absolute;
            left: 4px;
            margin:auto;
        }
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        background-color: #fff;
        height: 17px;
        width: 17px;
        @include flex-row(center, center);
    }
    label{
        user-select: none;
        cursor: pointer;
    }
}
.input-with-button{
    @include flex-row(flex-end, center);
    span{
        padding-right: 30px;
    }
    input[type="text"]{
        border: 1px solid $third_bg_color;
        width:120px;
        height: 30px;
    }
    .btn{
        height: 30px;
        padding: 0 30px;
    }
}
.custom-input-file{
    position: relative;
    background-color: #e7e1dc;
    cursor: pointer;
    height: 70px;
    width: 100%;
    &::before{
        color: $opacity-color;
        position: relative;
        padding-left: 50px;
        padding-bottom: 0!important;
    }
    &::after{
        content: url('../images/icons/upload.png');
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include flex-row(center , center);
    }
    input{
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
}
.card-choose-radio{
    display: block;
    margin: 10px 0;
    max-width: 420px;
    position: relative;
    cursor: pointer;
    input[type="radio"]{
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        &:checked + .body{
            background-color: #fff;
            &::before{
                display: block;
                width: 10px;
                height: 10px;
                content: url('../../assets/img/icons/check.svg');
                position: absolute;
                top: 10px;
                left: 20px;
            }
        }
    }
    .body{
        padding: 10px 25px 10px 50px;
        border-radius: 25px;
        min-height: 40px;
        @extend .row;
        .img{
            @extend .col-2;
        }
        .company{
            @extend .col-3;
        }
        .end{
            @extend .col-2;
        }
        .exp{
            @extend .col-3;
        }
        .btn-bin{
            @extend .col-2;
        }
        p{
            font-size: $f-12;
            color: $opacity-color;
            display: flex;
            align-items: center;
        }
    }
}


.switch{
    position: relative;
    width: 60px;
    height: 30px;
    background-color: $primary_bg_color;
    border-radius: 25px;
    input[type="checkbox"]{
        cursor: pointer;
        opacity: 0;
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
    }
    .switch-body{
        border: 2px solid $primary_bg_color;
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 300ms;
        &::before{
            content: "";
            height: 100%;
            width: 50%;
            position: absolute;
            top: 0;
            left: 0%;
            transition: 300ms;
            background-color: #fff;
            border-radius: 50%;
        }
    }
    .icons{
        >span{
            transition: 300ms;
        }
        .right{
            opacity: .3;
        }
    }
    input:checked{
        &+ .switch-body::before{
         left: 50%;
        }
        &~ .icons .left{
            opacity: .3;
        }
        &~ .icons .right{
            opacity: 1;
        }
    }
    .icons{
        @include flex-row(space-between, center);
        position: absolute;
        top: -2px;
        left: 2px;
        right: 0;
        width: 45px;
        margin: auto;
        height: 100%;
    }
}

