.know-us-better{ 
    margin: 50px 0;  
    height: 290px;
    width: 100%;
    float: left;
    z-index: 3;
    &:before{
        z-index: 1;
        content: "";
        position: absolute; 
        width: 100%;
        height: 290px;
        left: 0;
        background: linear-gradient( 90deg, $green 19%, rgb(223,202,174) 61%, rgb(233,222,205) 100%);
        background: linear-gradient(90deg, #1C6441 19%, #dfcaae 61%, #e9decd 100%);
    }
    &:after{
        content: "";
        background-image: url(../images/know_bg.png);
        background-repeat: no-repeat;
        height: 290px;
        position: absolute;
        z-index: 3;
        width: 76%;
    }
    h2,p{
        width: 605px;
        float: right;
        display: block;
        clear: both;
        z-index: 4;
    }
    p{
        font-size: $f-16;
        float: right;
        clear: both;
        position: relative;
    }
    .btn{
        clear: both;
        float: right;
        position: relative;
        z-index: 4;
    }
    h2{
        font-size: 38px;
        font-weight: 600;
        position: relative;
        padding-left: 80px;
        &::before{
            content: url('../images/icons/wine.png');
            position: absolute;
            left: 0;
            top: 5px;
        }
    }
 
    .wrapper{
        background-image: url('../images/know_bg.png');
        background-repeat: no-repeat;
        background-position: center right -200px;
        padding: 80px 0;
        @include flex-row(flex-end, center);

        .text-box{
            width: 605px;
            p{
                font-size: $f-16;
                &.big{
                    font-size: 38px;
                    font-weight: 600;
                    position: relative;
                    padding-left: 80px;
                    &::before{
                        content: url('../images/icons/wine.png');
                        position: absolute;
                        left: 0;
                        top: 5px;
                    }
                }
            }
        }
    }
}
@media (max-width:991px){
    #know_us{
        background: #DFC9AD;
        .wrapper{
            background: none;
            .text-box{
                width: 90%;
                margin: auto;
            }
        }
    }
}