
.page-products{
   .page-main{ 
       max-width: 1460px;
        width: 98%;
        margin: auto !important;
   }
   .columns{
    @extend .row; 
    .main{
        @extend .col-lg-10;
        position: relative;
        padding: 0 70px;
        min-height: 800px;
        &:after{
            content: "";
            width: calc((100vw - 100% -195px) / 4);
            height: calc(100% - 0px);
            background-color: #f6f3f1;
            position: absolute;
            left: 100%;
            top: 0px;
        }
        .sorter{
            display: none;
        }
        .toolbar{
            .label{
                padding-top: 7px;
            }
        }
    }
    .sidebar{
        @extend .col-lg-2; 
    }
   } 
}

.page-products{
    background: linear-gradient( 0deg, rgb(213,182,143) 0%, rgb(233,222,205) 100%); 
    .main{
        background-color: #f6f3f1;
        padding: 25px 70px;
        position: relative;
        @extend .col-lg-10; 
      
    }
    .sidebar{
        @extend .col-lg-2; 
        .page-title{
            line-height: 1.2!important;
            margin: 50px 0 30px;
            span{ 
                font-size: 42px;
                font-weight: 600; 
            } 
        }
        .filter-current{
            .filter-current-subtitle{
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 15px;
            } 
            .items{
                .item{
                    list-style: none; 
                    padding: 15px 0;
                    border-bottom: 1px solid #d3af81;
                    margin-bottom: 5px;
                    .filter-label{ 
                        margin-right: 5px;
                    }
                    .filter-value{
                        font-weight: 600;
                        color: #CFA773;
                        text-decoration: underline;
                    }
                    .remove{
                        position: relative;
                        width: 10px;
                        height: 10px;
                        display: inline-block;
                        top: 7px;
                        float: right;
                        background: url(../images/icons/cross.svg);
                        background-size: cover;
                        span{
                            display: none;
                        } 
                    }
                }
            } 
        }
        .filter-clear{
            padding: 16px 18px;
            font-size: 14px;
            margin-top: -11px;
            display: inline-block;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                left:0;
                top:20px;
                width: 10px;
                height: 10px;
                background: url(../images/icons/cross.svg);
                background-size: cover;
            }
            &:hover{
                text-decoration: underline;
            }
        }
        .filter-options{
            .filter-options-item{
                position: relative;
                &:before{
                    position: absolute;
                    right: 15px;
                    top:10px;
                    content: "";
                    width: 20px;
                    height: 20px;
                    background: url(../images/icons/andle-down.svg);  
                }
            }
          
        }
        .filter-options-content{
            .items{
                background-color: #EADFCF;
                padding: 15px;
                position: relative;
                top: -8px;
             .item{
                 list-style: none;
                 padding-left: 10px;
                 position: relative;
                 padding-left: 25px;
                 font-size: 13px;
                 margin-bottom: 7px;
                 .count{
                    color: #CFA773;
                    font-size: 0.75rem;
                    margin-left: 5px;
                } 
                 &:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: #fff;
                    height: 17px;
                    width: 17px;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    -ms-flex-direction: row;
                    flex-direction: row;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                 }
                 &:after{
                 
                    content: "";
                    background: url('../images/icons/check.svg');
                    height: 10px;
                    width: 10px;
                    display:none;
                    position: absolute;
                    top: 3px;
                    left: 3px;
                    z-index: 6;
                    margin: auto; 
                }
                 &:hover{ 
                    &:after{
                    display: block; 
                    }  
                }
                .filter-options-content{
                    &:after{
                        display: block; 
                    }  
                }
             }
            }
        }
    }
    #see_all_products{
        display: none;
    }
}

.toolbar{
    margin:10px 0; 
    .pages{
        @include flex-row(flex-start, left);
        font-weight: 600!important; 
        .label{
            color: #000;
            opacity: .5;
            font-weight: 600!important;
        }
        ul{
            padding-left: 20px;
            display: flex;
            li{
                cursor: pointer;
                @include flex-row(center, center);
                width: 35px;
                height: 35px;
                color: #000;
                opacity: .5;
                font-weight: 600;
                transition: 300ms;
                &.current{
                    background-color: $primary_bg_color;
                    opacity: 1; 
                }
                .page{
                    .label{
                     display: none;   
                    }
                }
                &:hover{
                    background-color: $primary_bg_color;
                    opacity: 1;
                }
                &.pages-item-next,
                &.pages-item-previous{
                    display: none;
                }
            }
        }
    }
  
    .sorter{
        width: 50%;
        @include flex-row(flex-end, left);
        .sorter-label{
            color: #a09792;
            font-weight: 600; 
        }
        select{
            margin-left: 20px;
            background-color: $primary_bg_color;
            font-weight: 600;
            appearance: none;
            padding: 10px 90px 10px 20px;
            border:none;
            cursor: pointer;
            background: url('../images/icons/angle-down.svg');  
            background-position: center right 10px;
            background-size: 12px 12px;
            background-repeat: no-repeat;
        }
    }
 
    
}


.product_list{
    padding: 0;
    background: linear-gradient( 0deg, rgb(213,182,143) 0%, rgb(233,222,205) 100%); 
    .list-container{
        @extend .row;
        .sidebar{
            @extend .col-lg-2; 
            .category-name{
                margin: 50px 0 30px;
                font-size: 42px;
                font-weight: 600;
                line-height: .6;
            }
          
        }
        .product-grid{
            @extend .col-lg-10;
            background-color: $body_background_color;
            padding: 0 70px;
            .top-panel{
                @include flex-row(space-between, center);
                font-size: 14px;
            }
            .pagination{
                margin: 20px 0 20px 3px;
            }
            .item{
                margin: 5px 3px;
            }
        }
    }
}
@media (max-width:991px){
    #product_list{
        .list-container{
            .sidebar{
                .category-name{
                    text-align: center;
                    margin: 30px 0;
                }
                .filters{
                    margin: 20px 0 40px;
                }
            }
            .product-grid{
                .content{
                    text-align: center;
                }
            }
        }
    }
}
@media (max-width:685px){
    #product_list .list-container .product-grid{
        .top-panel{
            flex-direction: column;
            padding-bottom: 20px;
        }
        .bottom{
            .pagination{
                justify-content: center;
            }
        }
    }

}

.block-products-list{
    .block-title{
        padding-bottom: 30px;
        display: block;
        strong{ 
            font-size: 1.125rem;
            font-weight: 600; 
        }
    }
}
