#see_all_products{
    background: linear-gradient( 90deg, rgb(213,182,143) 0%, rgb(233,222,205) 100%);
    padding: 0;
    margin-top: 50px;
    .wrapper{
        @extend .row;
        padding: 50px 0;
        background-image: url('../images/bottles.png');
        background-repeat: no-repeat;
        background-position: left -200px;
        p{
            @extend .col-lg-5;
            font-weight: 600;
            font-size: 22px;
            margin:0;
        }
        .btn-box{
            @extend .col-lg-2;
            text-align: right;
        }
    }
}
@media (max-width:991px){
    #see_all_products{
        .wrapper{
            text-align: center;
            background-image: none;
            .btn-box{
                margin-top: 20px;
                text-align: center;
            }
        }
    }
}