.checkout-cart-index{   
    padding: 40px 0 0 0;
    position: relative;
    margin-top: -40px; 
    .page-main{ 
        max-width: 1460px;
         width: 98%;
         margin: auto !important;
         .page-title{
             span{
                font-size: 32px;
                font-weight: 600;
             }
         }
         .cart-container{
             min-height: 800px;
             .products-crosssell{
                .item{
                    .control{
                        @extend .product-item-actions;
                    }
                }
             }
         }
         #shopping-cart-table{
             thead{
                 border:none;
                 tr{
                    padding: 15px 0;
                    border-bottom: 1px solid #eadfcf;
                    th{
                        border-top:none;
                        border-bottom:none;
                        &:not(:first-child){
                            text-align: center;
                        }
                        span{
                            padding: 0;
                            color: #a09792;
                            font-size: 0.75rem;
                            font-weight: 400;
                        }
                    }
                 }
             }
             tbody{
                 .item-info{
                    border-bottom: 1px solid #eadfcf;
                    .item{
                        padding: 0;
                        border:none;
                        .product-image-wrapper{
                            padding-bottom: 0!important;
                            float: left;
                        }
                        .product-item-photo{
                            background: #fff;
                            height: 100%;
                            float: left; 
                            margin: 0;
                            padding: 10px;
                            min-width: 187px;
                            text-align: center; 
                        }
                        .product-item-details{
                            .product-item-name{
                                float: left;
                                margin: 15px 5px 5px 15px;
                                font-weight: 600;
                                font-size: 14px; 
                            }  
                        }
                    } 
                 }
                 .item-actions{
                     position: relative;
                     td{
                        position: absolute; 
                        top: 180px;
                        right: 120px;
                        border: none;
                        .action-edit,
                        .action-towishlist{
                            display: none;
                        }
                     }
                 }
                 .field{
                     .label{
                         display: none;
                     }
                     .control{
                         display: flex;
                         input[type='number']{
                            appearance: textfield;
                            width: 50px;
                            height: 40px;
                            text-align: center;
                            border: 1px solid #efeae6;
                            float: left;
                            margin-left: 10px;
                         }
                         .alo_qty{
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            background-color: #efeae6;
                            width: 30px;
                            height: 40px;
                            margin-right: 1px;
                            cursor: pointer;
                            user-select: none;
                            display: flex;
                            float: left;
                            &::before{
                                color: #CFA773;
                                font-weight: 700;
                                font-size: 1.125rem;
                                line-height: 1.3; 
                            }
                            border: none;
                            &.ajax-cart-qty-plus{
                                order: 1;
                                &::before{
                                    content:'+';
                                }
                            }
                            &.ajax-cart-qty-minus{
                                order: 2;
                                &::before{
                                    content:'-';
                                }
                            }
                         }
                     }
                 }
                 .action-delete{
                    @extend .btn-remove;
                    background-image: url('../images/icons/cross.svg');
                    background-position: center;
                    background-size: 8px;
                    background-repeat: no-repeat;
                    span{
                        font-size: 0;
                    }
                 }
             }
             .table-caption{
                 display: none;
             }
         }
         .cart-container{
            @extend .row;
            .cart-summary{
                @extend .col-lg-3; 
                padding: 30px 40px;
                background-color: $third_bg_color;
                order: 3; 
                .title{ 
                    display: block;
                    font-size: 20px;
                }
                .shipping{
                    margin: 15px 0;
                    background-color: #f6f3f1;
                    padding: 10px;
                    text-align: center;
                    font-size: 14px;
                    color: #a09792;
                }
                .cart-totals{
                    margin: 20px 0 15px;
                    padding: 15px 0;
                    border-top: 1px solid #eadfcf;
                }
                .checkout{
                    list-style: none;
                    button{
                        @extend .btn;
                        @extend .btn-green;
                        
                        display: block;
                        margin: auto;
                    }
                }
                .table-wrapper{
                    tbody{
                        tr{
                            th{
                                background: transparent;
                                border-top: none;
                                padding: 0;
                            }
                            td{
                                border-top: none;  
                                padding: 10px 0; 
                            }
                        }
                    }
                }
            }
            .form-cart{
                @extend .col-lg-9;
            padding: 0 120px 0 0;
            order: 1; 
            }
         }
         .actions{
             display: none;
         }
         .cart-discount{
            order: 4;
            display: none;
         }
    }
}

.cart-empty{ 
    min-height: 550px;
    p{
        &:first-child{
            background-color: #EADFCF;
            padding: 10px 20px;
            font-weight: 600;
            font-size: 14px;
            border-left: 3px #dabd99 solid;
        }
        &:nth-child(2){ 
            text-align: left;
            padding: 10px 0;
            a{  
                border-radius: 30px;
                color: #d2ac7d;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

#shipping_page{
    .shipping-container{
        @extend .row;
        .shipping{
            @extend .col-lg-9;
            padding: 0 120px 0 0;
            .head{
                color: $opacity-color;
                font-weight: 600;
                font-size: $f-12;
                padding: 15px 0;
                border-bottom: 1px solid #eadfcf;
            }
            .store-list{
                margin: 30px 0;
                label{
                    background-color: $third_bg_color;
                }
            }
            .data-cols{
                @extend .row;
                >div{
                    @extend .col-lg-3;
                    padding: 0;
                    .title{
                        font-weight: 600;
                        padding-bottom: 5px;
                        color: #000;
                        font-size: 14px;
                    }
                    p{
                        color: $opacity-color;
                        font-size: $f-12;
                    }
                }
            }
            .choose{
                border-top: 1px solid #eadfcf;
                border-bottom: 1px solid #eadfcf;
                padding: 30px 0;
                .heading{
                    font-size: 14px;
                    padding-bottom: 10px;
                }
                #different_card_body{
                    overflow: hidden;
                    max-height: 0;
                    margin: 15px 0;
                    padding-left: 40px;
                    transition: 300ms;
                    @include flex-row(space-between, flex-end);
                    &.active{
                        max-height: 300px;
                    }
                    label{
                        span:first-child{
                            font-size: $f-12;
                            font-weight: 600;
                            padding-bottom: 10px;
                            display: block;
                        }
                        input{
                            color: $opacity-color;
                        }
                        &:nth-child(1){
                            max-width: 220px;
                        }
                        &:nth-child(2){
                            input{
                                max-width: 45px;
                            }
                        }
                        &:nth-child(3){
                            input{
                                max-width: 45px;
                            }
                        }
                    }
                    .custom-checkbox{
                        span{
                            padding-bottom: 0;
                            padding-right: 30px;
                        }
                        .mark{
                            padding-right: 0;
                            left: auto;
                            right: 0;
                        }
                    }
                }
                #different_card_trigger{
                    p{
                        padding-left: 15px;
                    }
                }
                .trusted{
                    background-color: $third_bg_color;
                    background-image: url('../../assets/img/icons/trusted.png');
                    background-position: left 30px center;
                    background-repeat: no-repeat;
                    padding: 15px 30px;
                    margin-top: 30px;
                    @include flex-row(space-between, center);
                    span:first-child{
                        padding-left: 40px;
                        font-weight: 600;
                        font-size: $f-16;
                    }
                    .custom-checkbox{
                        span{
                            padding-right: 30px;
                            font-size: $f-12;
                        }
                        .mark{
                            top: 3px;
                            right: 0;
                            left: auto;
                            padding-right: 0;
                        }
                    }
                }
            }
            .total-box{
                padding-top: 20px;
                @extend .row;
                div:first-child{
                    @extend .col-lg-8;
                    p{
                        @include flex-row(space-between, center);
                        max-width: 380px;
                        padding-bottom: 15px;
                        font-size: $f-18;
                        &.total{
                            font-weight: 600;
                        }
                    }
                }
                div:last-child{
                    @extend .col-lg-4;
                    @include flex-row(flex-end, flex-end);
                }
            }
        }
        .summary{
            @extend .col-lg-3;
            >div{
                padding: 30px 40px;
                background-color: $third_bg_color;
                .heading{
                    font-size: 20px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #eadfcf;
                }
                .summary-cart{
                    .top{
                        @include flex-row(space-between, center);
                        font-size: $f-16;
                        padding: 15px 0;
                        img{
                            width: 8px;
                        }
                    }
                    .basket-item{
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}
@media (max-width:991px){
    #shipping_page{
        padding: 30px 20px;
        .heading{
            text-align: center;
        }
        .shipping-container{
            .shipping{
                order: 2;
                padding: 0;
                .store-list{
                    margin: 30px auto;
                }
                .data-cols{
                    >div{
                        margin: 7.5px auto;
                        text-align: center;
                    }
                }
                .choose{
                    .card-choose-radio{
                        margin: 10px auto;
                    }
                    #different_card_body{
                        padding-left: 0;
                    }
                }
                .total-box{
                    >div{
                        p{
                            margin: auto;
                        }
                    }
                    .btn{
                        margin-top: 15px;
                        width: 100%;
                    }
                }
            }
            .summary{
                padding: 0;
                order: 1;
                margin: 15px 0;
            }
        }
    }
}
@media (max-width:685px){
    #shipping_page .shipping-container .shipping{
        .choose{

            #different_card_body{
                flex-direction: column;
                label{
                    margin: 7.5px auto;
                    span{
                        text-align: center;
                    }
                }
            }
            .trusted{
                flex-direction: column;
            }
        }
    }
}