.checkout-cart-index{   
    padding: 40px 0 0 0;
    position: relative;
    margin-top: -40px; 
    
    .page-main{ 
        max-width: 1460px;
         width: 98%;
         margin: auto !important;
         .page-title{
             span{
                font-size: 32px;
                font-weight: 600;
             }
         }
         .cart-container{
             min-height: 800px;
             .products-crosssell{
                .item{
                    .control{
                        padding-top:15px;
                        display: flex;
                        .decreaseQty{
                            order: 1;
                        }
                        .increaseQty{
                            order: 3;
                        }
                        .input-text{
                            order: 2;
                            -webkit-appearance: none;
                            -moz-appearance: textfield;
                            appearance: none;
                            width: 40%;
                            height:40px;
                            text-align: center;
                            border: 1px solid $third_bg_color;
                            float: left;
                        }
                        input[type=number]::-webkit-inner-spin-button,
                        input[type=number]::-webkit-outer-spin-button
                        {
                            -webkit-appearance: none;
                            margin: 0;
                            
                        }
                        button{
                            @include flex-row(center,center);
                            color: $primary_text_color;
                            background-color: $third_bg_color;
                            font-weight: 700;
                            width: 20%;
                            height: 40px;
                            font-size: $f-18;
                            cursor: pointer;
                            user-select: none;
                            display: inline-block;
                            float: left;
                            border: none;
                        }
                    }
                }
             }
         }
         #shopping-cart-table{
             thead{
                 border:none;
                 tr{
                    padding: 15px 0;
                    border-bottom: 1px solid #eadfcf;
                    th{
                        border-top:none;
                        border-bottom:none;
                        &:not(:first-child){
                            text-align: center;
                        }
                        span{
                            padding: 0;
                            color: #a09792;
                            font-size: 0.75rem;
                            font-weight: 400;
                        }
                    }
                 }
             }
             tbody{
                 .item-info{
                    border-bottom: 1px solid #eadfcf;
                    .item{
                        padding: 0;
                        border:none;
                        .product-image-wrapper{
                            padding-bottom: 0!important;
                            float: left;
                        }
                        .product-item-photo{
                            background: #fff;
                            height: 100%;
                            float: left; 
                            margin: 0;
                            padding: 10px;
                            min-width: 187px;
                            text-align: center; 
                        }
                        .product-item-details{
                            .product-item-name{
                                float: left;
                                margin: 15px 35px 5px 15px;
                                font-weight: 600;
                                font-size: 14px; 
                            }  
                        }
                    } 
                 }
                 .item-actions{
                     position: relative;
                     td{
                        position: absolute; 
                        right: 120px;
                        transform: translateY(-45px);
                        border: none;
                        .action-edit,
                        .action-towishlist{
                            display: none;
                        }
                     }
                 }
                 .field{
                     .label{
                         display: none;
                     }
                     .control{
                         display: flex;
                         input[type='number']{
                            appearance: textfield;
                            width: 50px;
                            height: 40px;
                            text-align: center;
                            border: 1px solid #efeae6;
                            float: left;
                            margin-left: 10px;
                         }
                         .alo_qty{
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            background-color: #efeae6;
                            width: 30px;
                            height: 40px;
                            margin-right: 1px;
                            cursor: pointer;
                            user-select: none;
                            display: flex;
                            float: left;
                            &::before{
                                color: #CFA773;
                                font-weight: 700;
                                font-size: 1.125rem;
                                line-height: 1.3; 
                            }
                            border: none;
                            &.ajax-cart-qty-plus{
                                order: 1;
                                &::before{
                                    content:'+';
                                }
                            }
                            &.ajax-cart-qty-minus{
                                order: 2;
                                &::before{
                                    content:'-';
                                }
                            }
                         }
                     }
                 }
                 .action-delete{
                    @extend .btn-remove;
                    background-image: url('../images/icons/cross.svg');
                    background-position: center;
                    background-size: 8px;
                    background-repeat: no-repeat;
                    span{
                        font-size: 0;
                    }
                 }
             }
             .table-caption{
                 display: none;
             }
         }
         .cart-container{
            @extend .row;
            .cart-summary{
                @extend .col-lg-3; 
                padding: 30px 40px;
                background-color: $third_bg_color;
                order: 3; 
                .title{ 
                    display: block;
                    font-size: 20px;
                }
                .shipping{
                    margin: 15px 0;
                    background-color: #f6f3f1;
                    padding: 10px;
                    text-align: center;
                    font-size: 14px;
                    color: #a09792;
                }
                .cart-totals{
                    margin: 20px 0 15px;
                    padding: 15px 0;
                    border-top: 1px solid #eadfcf;
                }
                .checkout{
                    list-style: none;
                    button{
                        @extend .btn;
                        @extend .btn-green;
                        
                        display: block;
                        margin: auto;
                    }
                }
                .table-wrapper{
                    tbody{
                        tr{
                            th{
                                background: transparent;
                                border-top: none;
                                padding: 0;
                                vertical-align: middle;
                            }
                            td{
                                border-top: none;  
                                padding: 10px 0; 
                            }
                        }
                    }
                }
            }
            .form-cart{
                @extend .col-lg-9;
            padding: 0 120px 0 0;
            order: 1; 
            }
         }
         .actions{
             display: none;
         }
         .cart-discount{
            order: 4;
            display: none;
         }
    }
}

.cart-empty{ 
    min-height: 550px;
    p{
        &:first-child{
            background-color: #EADFCF;
            padding: 10px 20px;
            font-weight: 600;
            font-size: 14px;
            border-left: 3px #dabd99 solid;
        }
        &:nth-child(2){ 
            text-align: left;
            padding: 10px 0;
            a{  
                border-radius: 30px;
                color: #d2ac7d;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

.page-layout-checkout{
    .field.choice:not(.billing-address-same-as-shipping-block){
        padding-left: 0;
        &::before{
            display: none;
        }
    }
    .loading-mask{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,.1);
        height: 100vh;
        width: 100vw;
        z-index: 99;
        .loader{
            border-radius: 4px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            font-size: 20px;
            font-weight: 600;
        }
    }
    .page-main{
        @extend .wrapper;
        position: relative;
    }
    #checkout{
        min-height: 550px;
        padding: 10px 0;
    }
    .opc-progress-bar{
        display: flex;
        justify-content: space-between;
        max-width: 235px;
        list-style: none;
        .opc-progress-bar-item{
            font-size: 18px;
            &._active{
                font-weight: 600;
            }
            &:first-child::after{
                content: '>'
            }
        }
    }
    .opc-estimated-wrapper{
        .estimated-price{
            font-weight: 600;
        }
        .minicart-wrapper{
            display: none;
        }
    }
    .shipping-address-item, .billing-address-details{
        display: flex;
        justify-content: space-between;
        max-width: 700px;
        padding: 10px 100px 10px 10px;
        border-bottom: 1px solid $secondary_bg_color;
        position: relative;
        >span{
            width: 140px;
            margin: 0 40px;
        }
        >a{
            margin: 0 40px;
        }
        &.selected-item{
            background-color: $primary_bg_color;
        }
        .action-select-shipping-item{
            @extend .btn;
            position: absolute;
            right: 10px;
            background: #dac09f;
            color: #fff;
            height: 40px;
            padding: 10px 25px;
            align-self: center;
            &:hover{
                color: #fff;
            }
        }
    }
    .action-show-popup{
        @extend .btn;
        margin-top: 20px;
        background: #dac09f;
        color: #fff;
        height: 40px;
        padding: 10px 25px; 
        &:hover{
            color: #fff;
        }
    }
    .step-title{
        font-size: 18px;
        padding: 15px 0 5px;
    }
    .table-checkout-shipping-method{
        th{
            background-color: #EFE9E6;
        }
        .col{
            text-align: center;
            width: 160px;
            padding: 5px;
        }
    }
    #shipping-method-buttons-container{
        .primary{
            text-align: right;
            max-width: 975px;
            padding: 20px 0;
            .continue{
                @extend .btn;
                @extend .btn-green;
            }
        }
    }
    .actions-toolbar{
        text-align: right;
        max-width: 975px;
        .checkout{
            @extend .btn;
            @extend .btn-green;
        }
    }
    .store-credit{
        #block-discount-heading{
            span{
                color: $primary_text_color;
                text-decoration: underline;
                cursor: pointer; 
            }
        }
        .label{
            padding-right: 10px;
            font-weight: 600;
        }
        .action-apply{
            @extend .btn;
            @extend .btn-green;
        }
    }
    .discount-code{
        #block-discount-heading{
            span{
                color: $primary_text_color;
                text-decoration: underline;
                cursor: pointer; 
            }
        }
        #discount-form{
            margin-top: 10px;
            max-width: 400px;
            input{
                margin: 10px 0
            }
            .action-apply{
                @extend .btn;
                @extend .btn-green;
            }
            #discount-code-error{
                color: $red;
                font-weight: 600;
                font-size: 12px;
            }
        }
    }
    .opc-summary-wrapper{
        width: 375px;
        position: absolute;
        z-index: 9;
        right: 0;
        top: 0;
        max-height: 630px;
        overflow-y: auto;
        .modal-header, .table-caption{
            display: none;
        }
        .modal-content{
            padding: 30px 40px;
            background-color: $third_bg_color;
            border: none;
            border-radius: 0;
            .table th, .table td{
                padding: 5px 10px;
                border: none;
            }
            .mark{
                background-color: transparent;
            }
            .amount{
                text-align: right;
            }
            .title{
                display: block;
                font-size: 20px;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: 1px solid #eadfcf;
            }
            .items-in-cart{
                .title{
                    position: relative;
                    cursor: pointer;
                    display: block;
                    font-size: 16px;
                    padding-bottom: 20px;
                    border-bottom: none;
                    &::after{
                        content: '';
                        background-image: url('../images/icons/drop-down-arrow.svg');
                        display: block;
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        background-position: center;
                        background-size: cover;
                        top: 5px;
                        right: 10px;
                        transition: 300ms;
                        transform: rotate(0);
                    }
                    &[aria-expanded="true"]::after{
                        transform: rotate(180deg);
                    }
                }   
                .minicart-items-wrapper{
                    overflow: hidden;
                    .minicart-items{
                        max-height: 350px;
                        overflow-y: scroll;
                        box-sizing: content-box;
                        padding-right: 17px;
                        width: 100%;
                    }
                }
                .product-item{
                    background-color: transparent;
                    box-shadow: none;
                    width: 100%;
                    padding: 10px;
                    &:not(:last-child){
                        border-bottom: 1px solid $secondary_bg_color;
                    }
                    .product-image-container{
                        min-height: auto;
                        max-height:75px;
                        padding-right: 10px;
                    }
                    .product-item-details{
                        text-align: left;
                        .product-item-name{
                            font-size: 14px;
                        }
                        .details-qty{
                            font-size: 12px;
                        }
                        .price{
                            font-size: 16px;
                            font-weight: 600;
                        }
                    }
                }
            }
            .action-edit{
                color: $primary_text_color;
                text-transform: uppercase;
                background-color: transparent;
                font-weight: 600;
                border: none;
                font-size: 14px;

                &:hover{
                    text-decoration: underline;
                }
            }
            .ship-to{
                .shipping-information-title{
                    font-weight: 700;
                }
            }
            .ship-via{
                .shipping-information-title{
                    padding-top: 10px;
                    font-weight: 700;
                }
            }
        }
    }
}
.payment-method-billing-address{
    max-width: 490px;
    .field{
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .action-update{
        @extend .btn;
        @extend .btn-green;
        color:#fff;
    }
    .action-cancel{
        @extend .btn;
        color:#fff;
        background-color: $red;
    }
}
.modal-popup{
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 50px;
    background-color: #efeae6;
    margin: auto;
    padding: 20px;
    right: 0;
    max-width: 700px;
    text-align: center;
    .modal-header{
        display: block;
        text-align: center;
        .action-close{
            position: absolute;
            right: 15px;
            top: 15px;
            @extend .btn-remove;
            span{
                font-size: 0;
            }
        }
    }
    .modal-content{
        background-color: transparent;
        border: none;
        border-radius: 4px;
        max-height: 400px;
        overflow-y: scroll;
        select{
            background-color: #fff;
        }
        input, select{
            margin-bottom: 5px;
            max-width: 350px;
        }
        .label{
            font-size: 16px;
            padding-bottom:5px; 
        }
        .field{
            padding-bottom: 10px;
        }
    }
    .modal-footer{
        .action-save-address{
            @extend .btn;
            @extend .btn-green;
        }
        .action-hide-popup{
            @extend .btn;
            background-color: $red;
            span{
                color: #fff;
            }
        }
    }
}
.crosssell{
    order:5;
    margin: 15px 0;
}
@media (max-width:991px){
    .page-layout-checkout .opc-summary-wrapper{
        position: relative;
    }
}
@media (max-width:580px){
    .page-layout-checkout {
        #maincontent{
            padding: 0 10px;
        }
        .shipping-address-item, .billing-address-details{
            padding: 10px;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .action-select-shipping-item{
                position: relative;
                right: initial;
                margin-top: 10px;
            }
        }
        .action-show-popup{
            margin: 20px auto;
            display: block; 
        }
    }
}