<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="blm_customerdocuments" frontName="blm_customerdocuments">
            <module name="Blm_CustomerDocuments"/>
        </route>
    </router>
</config>
