<?xml version="1.0"?>
<!--
/**
  
 
 
  
 
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="blm_crontab" frontName="blm_crontab">
            <module name="Blm_CronTab" />
        </route>
    </router>
</config>